[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
chromedriver-binary = "==93.0.4577.63.0"

[dev-packages]

[requires]
python_version = "3.9"
